@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat_Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

html {
    --teal: #007A7A;
    --darkTeal: #2F4F4F;
    --white: #f5f5f5;
    --black: #222222;
    --gray: #EBEBEB;
    --neon-green: #7cca23;

    --font-montserrat: 'Montserrat', Arial, Impact, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;

    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    background-color: var(--black);
    line-height: 1.6;
    margin: 0;
    max-width: 100%;
    min-width: auto; 
    padding: 0;
    font-size: 1rem;
}

h1, h2 {
    margin: 0 1rem 0 1rem;
    color: var(--white);
    font-family: var(--font-inter);
}

h1 {
   
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    color: var(--white);
    font-family: var(--font-montserrat);
    margin: 0 1rem 1rem 1rem;
}

a {
    font-family: var(--font-inter);
}

.breadcrumb {
    padding: 1rem;
    font-family: var(--font-inter);
    font-size: 1rem;
    color: var(--white);

    a {
        text-decoration: underline;
        color: var(--white);
    }
}

#homepage-header {

    margin-top: .75rem;

    a {
        text-decoration: none;
    }

    h1 {
        line-height: 1.75rem;
    }

    h2 {
        font-family: var(--font-montserrat);
        font-weight: 400;
        
    }

    .highlight {
        color: var(--neon-green);
    }
}

#about-me-page {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1rem;

    h1 {
        margin: 0;
    }

    #resume-button {
        display: flex;
        justify-content: center;
    
        button {
            background: linear-gradient(to bottom, var(--teal), var(--darkTeal));
            border: none;
            border-radius: 5px;
            color: var(--white);
            font-size: large;
            padding: .5rem;
            height: auto;
            
        }
    }
}

#headshot {
    padding: 0 1.25rem;
}

.content-section {
    padding: 1rem;

    .link-wrapper {
        background: linear-gradient(to bottom, var(--teal) 90%, var(--darkTeal));
        display: block;
        border-radius: 10px;
        overflow: hidden;
    }

    p {
        text-wrap: nowrap;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        font-size: 1.5rem;
        z-index: 2; 
        margin: 0;
    }

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }

    .coming-soon-container {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            opacity: 80%;
        }
    }

    .project-link {
        overflow: hidden;
        display: block;
        text-decoration: none;
    }

    h2 {
        font-size: 1.1rem;
        margin: 0 1rem .25rem;
    }
}

.project-progress {

    p {
        font-family: var(--font-montserrat);
        line-height: 1.25rem;
        color: var(--white);
        text-align: left;
        margin: 0 1.25rem 1.75rem;
    }

    .project-video {
        width: 100%;
        max-width: 100%;
        padding: 0 1.25rem;
        
    }
    
    video {
        width: 100%;
        max-width: 100%;
        height: auto;
        
    }

    .image-container {
        display: block;
        max-width: 100%;
        margin: 0 1.25rem;
        overflow: hidden;
    }

}

#contact-me-button {
    display: flex;
    justify-content: center;

    button {
        background: linear-gradient(to bottom, var(--teal), var(--darkTeal));
        border: none;
        border-radius: 5px;
        color: var(--white);
        font-size: large;
        padding: .5rem;
    }
}

#resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem .5rem;
    text-align: center;
    
    p {
        margin: 0;
    }

    a {
        color: var(--white);
    }

    #download-resume {
        
        margin-top: .5rem;
        button {
            background: linear-gradient(to bottom, var(--teal), var(--darkTeal));
            border: none;
            border-radius: 5px;
            color: var(--white);
            font-size: large;
            padding: .5rem;
        }
    }
}

#resume {
    padding: 0 1.25rem .5rem;

    .resume-section {
        h2 {
            margin-bottom: 0;
        }
        h3 {
            margin: 0;
        }

        .resume-section-item {
            padding-inline-start: 0;
            flex-direction: column;
            width: 100%;
            color: var(--white);

            h3 {
                font-family: var(--font-inter);
                color: var(--white);
                font-size: 5vw;
            }

            ul {
                font-family: var(--font-montserrat);
            }
        }

        .resume-section-item-bullets{
            color: var(--white);
            font-family: var(--font-inter);

            h3 {
                font-size: 1rem;
            }

            ul {
                padding-inline-start: 1.25rem;
                font-size: .75rem;
                column-count: 2;
                column-gap: 0;
                list-style-position: inside;
                font-family: var(--font-montserrat);
            }
        }
    }
}

header {
    background: linear-gradient(to bottom, var(--teal), var(--darkTeal));
    padding: .625rem 1.25rem;
    display: flex;

    a {
        max-height: 50px;
        width: 50px;
        display: block;
        
        .logo {
            max-height: 50px;
            display: block;
        }
    }

    label {
        z-index: 20;

        .hamburger {
            color: var(--white);
            transform-origin: center center;
        }
    }

    .header-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%; 
    }

    nav {
        background: linear-gradient(to bottom, var(--teal), var(--darkTeal));
        height: 100vh;
        width: 50vw;
        transition: right 0.3s ease-in-out;
        position: fixed;
        right: -500px;
        top: 0;
        z-index: 10;
      
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-top: 2rem;
            padding: 1rem;
            text-wrap: nowrap;
    
            li {
                margin-bottom: 1rem;
        
                a {
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
      
    }
    
    .nav-toggle:checked ~ nav {
        right: 0;
    }

    .nav-toggle:checked ~ .header-content label svg.hamburger {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }

}

footer {
    position: relative;
    background: linear-gradient(to bottom, var(--teal), var(--darkTeal)); 
    margin-top: 1rem;
    padding: 20px 0;
    width: 100%;

    .footer-content {
       

        .social-links {
            position: absolute;
            top: .5rem;
            right: .5rem;
            display: flex;
            gap: 5px;
        }
        
        .social-link {
            display: inline-block;
        }
        
        .social-icon {
            width: 35px;
            height: auto;
        }

        text-align: center;

        a {
            color: var(--white);
        }

        p{
            font-family: var(--font-inter);
            color: var(--white);
            margin: 0;
        }
    }
    
}
